{% extends 'base.html' %}

{% block title %}Категория {{ category_slug }} — Блогикум{% endblock %}

{% block content %}
  <h1>Публикации в категории {{ category_slug }}</h1>

  {% for post in category_posts %}
    <article class="mb-4">
      <h2 class="h4">Запись №{{ post.id }}</h2>
      <p><strong>{{ post.location }}</strong>, {{ post.date }}</p>
      <p>{{ post.text }}</p>
    </article>
    <hr>
  {% empty %}
    <p>В этой категории пока нет публикаций.</p>
  {% endfor %}
{% endblock %}


