{% extends 'base.html' %}

{% block title %}Главная — Блогикум{% endblock %}

{% block content %}
  <h1 class="mb-4">Лента публикаций</h1>

  {% for post in posts|dictsortreversed:"id" %}
    <article class="mb-4">
      <h2 class="h4">Запись №{{ post.id }}</h2>
      <p><strong>{{ post.location }}</strong>, {{ post.date }}</p>
      <p>{{ post.text }}</p>
      <p>
        <a href="{% url 'blog:post_detail' post.id %}">
          Подробнее
        </a>
        |
        Категория:
        <a href="{% url 'blog:category_posts' post.category %}">
          {{ post.category }}
        </a>
      </p>
    </article>
    <hr>
  {% empty %}
    <p>Постов пока нет.</p>
  {% endfor %}
{% endblock %}

